<!DOCTYPE html>
<html>
<head>
  <title>Gmaps</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "gmaps4rails" %>

  <%= yield :head %>
</head>
<body>

<%= yield %>
<%= yield :scripts %>
<div class="map_container"> 
  <div id="map" class="gmaps4rails_map"></div>
</div>

</body>
</html>
